<ion-header>
  <ion-navbar>
    <ion-title text-center>
      <img src="/assets/imgs/logoEvento.png" alt="Evento NES" class= "imgLogo">
    </ion-title>
  </ion-navbar>

  <div class="menuToolbar">
    <ion-segment [(ngModel)]="data">
      <ion-segment-button value="dia8" (ionSelect) = "limparLista($event)">
        Dia 8
      </ion-segment-button>
      <ion-segment-button value="dia9" (ionSelect) = "limparLista($event)">
        Dia 9
      </ion-segment-button>
      <ion-segment-button value="dia10" (ionSelect) = "limparLista($event)">
        Dia 10
      </ion-segment-button>
    </ion-segment>
   
    
      
   
    
    
    <div id="valor">
      <button ion-button block outline (click)="geralPage()" class="btnGeral">Geral</button>
      <button ion-button block outline (click)="palestrasMinicursosPage()" class="btnPM">
        Palestras/Minicursos
      </button>
    
      <button ion-button block outline (click)="sessaoTecnicaPage()" class="btnST">
          Sessões técnicas
      </button>
    </div>

    
 <!--   <ion-item id="itemCategoria">
      <ion-label>Categoria</ion-label>
      <ion-select [(ngModel)]="categoria" interface="popover">
        <ion-option *ngFor="let v of select" [value]="v" (ionSelect)="selectCategoria($event, v)">{{v}}</ion-option>      
      </ion-select>
    </ion-item> -->
  
  </div>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card class="backCard" *ngFor="let v of lista">
      <ion-card-content>
        <ion-card-title class="colorInCard bordaCard">
          <strong>{{v.titulo}}</strong>
        </ion-card-title>
        <div class="fontInCard">
          <strong>Descrição: </strong> {{v.corpo}}
        </div>
        <div class="fontInCard">
          <strong>Horário: </strong> {{v.horario}}
        </div>
        <div class="fontInCard">
          <strong>Sala: </strong> {{v.sala}}
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list >
    <ion-card class="backCard" *ngFor="let v of lista">
      <ion-card-content>
        <ion-card-title class="colorInCard bordaCard">
          <strong>{{v.titulo}}</strong>
        </ion-card-title>
        <div class="fontInCard">
          <strong>Descrição: </strong> {{v.corpo}}
        </div>
        <div class="fontInCard">
          <strong>Horário: </strong> {{v.horario}}
        </div>
        <div class="fontInCard">
          <strong>Sala: </strong> {{v.sala}}
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-list>
    <ion-card class="backCard" *ngFor="let v of lista">
      <ion-card-content>
        <ion-card-title class="colorInCard bordaCard">
          <strong>{{v.titulo}}</strong>
        </ion-card-title>
        <div class="fontInCard">
          <strong>Descrição: </strong> {{v.corpo}}
        </div>
        <div class="fontInCard">
          <strong>Horário: </strong> {{v.horario}}
        </div>
        <div class="fontInCard">
          <strong>Sala: </strong> {{v.sala}}
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
  
</ion-content>




<ion-footer class="backFooter" text-center>
  <p>
    &copy; NES - Núcleo de Engenharia de Software
  </p>
  <p>
    IFFluminense/PIGG
  </p>
</ion-footer>