
<ion-header>
  <ion-navbar>
    <ion-title>Sessões Tecnicas ({{dia}})</ion-title>
  </ion-navbar>

  <div class="menuToolbar">
    <ion-segment [(ngModel)]="tipoSessao">
      <ion-segment-button value="orais" >
        Apresentações Orais
      </ion-segment-button>
      <ion-segment-button value="poster" >
        Pôsteres
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content>    
  <div [ngSwitch]="tipoSessao">
    <div *ngSwitchCase="'orais'">              

      <ion-card>
        <ion-card-header>
          <ion-icon name="clock"></ion-icon> {{sessao1[0].nome}} - {{sessao1[0].horario}}
        </ion-card-header>

        <ion-list>
          <button (click)="apresentarOral(titulo, sessao1[0].nome)" ion-item *ngFor="let titulo of tituloOral1">
              {{titulo.nome}}
          </button>
        </ion-list>
      </ion-card>
      
      <ion-card>
        <ion-card-header>
          <ion-icon name="clock"></ion-icon> {{sessao2[0].nome}} - {{sessao2[0].horario}}
        </ion-card-header>

        <ion-list>
          <button (click)="apresentarOral(titulo, sessao2[0].nome)" ion-item *ngFor="let titulo of tituloOral2">
              {{titulo.nome}}
          </button>
        </ion-list>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-icon name="clock"></ion-icon> {{sessao3[0].nome}} - {{sessao3[0].horario}}
        </ion-card-header>

        <ion-list>
          <button (click)="apresentarOral(titulo, sessao3[0].nome)" ion-item *ngFor="let titulo of tituloOral3">
              {{titulo.nome}}
          </button>
        </ion-list>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-icon name="clock"></ion-icon> {{sessao4[0].nome}} - {{sessao4[0].horario}}
        </ion-card-header>

        <ion-list>
          <button (click)="apresentarOral(titulo, sessao4[0].nome)" ion-item *ngFor="let titulo of tituloOral4">
              {{titulo.nome}}
          </button>
        </ion-list>
      </ion-card>

    </div>
  </div>

  <div [ngSwitch]="tipoSessao">
    <div *ngSwitchCase="'poster'">
      
      <ion-card>
        <ion-card-header>
          <ion-icon name="clock"></ion-icon> {{sessaop1[0].nome}} - {{sessaop1[0].horario}}
        </ion-card-header>
  
        <ion-list>
          <button (click)="apresentarPoster(titulo, sessaop1[0].nome)" ion-item *ngFor="let titulo of titluloPS1">
            {{titulo.titulo}}
          </button>
        </ion-list>
      </ion-card>      

      <ion-card>
        <ion-card-header>
          <ion-icon name="clock"></ion-icon> {{sessaop2[0].nome}} - {{sessaop2[0].horario}}
        </ion-card-header>

        <ion-list>
          <button (click)="apresentarPoster(titulo, sessaop2[0].nome)" ion-item *ngFor="let titulo of titluloPS2">
              {{titulo.titulo}}
          </button>
        </ion-list>
      </ion-card>
        
    </div>
  </div>
</ion-content>

<ion-footer class="backFooter" text-center>
  <p class="reduzMargimBottom">
    &copy; NES - Núcleo de Engenharia de Software
  </p>
  <p class="reduzMargimTop">
    IF Fluminense/PICG
  </p>
</ion-footer>