
<ion-header>
  <ion-navbar>
    <ion-title>Sessões Tecnicas ({{dia}})</ion-title>
  </ion-navbar>

  <div class="menuToolbar">
    <ion-segment [(ngModel)]="tipoSessao">
      <ion-segment-button value="orais" >
        Apresentação Orais
      </ion-segment-button>
      <ion-segment-button value="poster" >
        Pôsteres
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let ses of sessao1">
      <h1>
        <ion-icon name="time"></ion-icon> 
        {{ses.nome}}: {{ses.horario}}
      </h1>
      <button detail-none (click)="expandItemOral(tituloOral1, item)" ion-item *ngFor="let item of tituloOral1">
        <h3>{{item.nome}}</h3>
        <expandable [expanded]="item.expanded">
          <ion-list>
            <ion-card class="backCard" *ngFor="let v of lista">
              <ion-grid>
                <ion-row>
                  <ion-col col-3 class="horario">
                    {{v.horaInicio}} - {{v.horaFim}}
                  </ion-col>
                  <ion-col colorInCard bordaCard>
                      <strong>{{v.titulo}}</strong>  
                  </ion-col>
                </ion-row>                         
              </ion-grid>                        
            </ion-card>
          </ion-list>
        </expandable> 
      </button>    
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let ses of sessao2">
      <h1>
        <ion-icon name="time"></ion-icon> 
        {{ses.nome}}: {{ses.horario}}
      </h1>
      
      <button detail-none (click)="expandItemOral(tituloOral2, item)" ion-item *ngFor="let item of tituloOral2">
        <h3>{{item.nome}}</h3>
        <expandable [expanded]="item.expanded">
          <ion-list>
            <ion-card class="backCard" *ngFor="let v of lista">
              <ion-grid>
                <ion-row>
                  <ion-col col-3 class="horario">
                    {{v.horaInicio}} - {{v.horaFim}}
                  </ion-col>
                  <ion-col colorInCard bordaCard>
                    <strong>{{v.titulo}}</strong>  
                  </ion-col>
                </ion-row>                         
              </ion-grid>                        
            </ion-card>
          </ion-list>
        </expandable> 
      </button>    
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let ses of sessao3">
      <h1>
        <ion-icon name="time"></ion-icon> 
        {{ses.nome}}: {{ses.horario}}
      </h1>
          
      <button detail-none (click)="expandItemOral(tituloOral3, item)" ion-item *ngFor="let item of tituloOral3">
        <h3>{{item.nome}}</h3>
        <expandable [expanded]="item.expanded">
          <ion-list>
            <ion-card class="backCard" *ngFor="let v of lista">
              <ion-grid>
                <ion-row>
                  <ion-col col-3 class="horario">
                    {{v.horaInicio}} - {{v.horaFim}}
                  </ion-col>
                  <ion-col colorInCard bordaCard>
                    <strong>{{v.titulo}}</strong>  
                  </ion-col>
                </ion-row>                         
              </ion-grid>                        
            </ion-card>
          </ion-list>
        </expandable> 
      </button>    
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let ses of sessao4">
      <h1>
        <ion-icon name="time"></ion-icon> 
        {{ses.nome}}: {{ses.horario}}
      </h1>
            
      <button detail-none (click)="expandItemOral(tituloOral4, item)" ion-item *ngFor="let item of tituloOral4">
        <h3>{{item.nome}}</h3>
        <expandable [expanded]="item.expanded">
          <ion-list>
            <ion-card class="backCard" *ngFor="let v of lista">
              <ion-grid>
                <ion-row>
                  <ion-col col-3 class="horario">
                    {{v.horaInicio}} - {{v.horaFim}}
                  </ion-col>
                  <ion-col colorInCard bordaCard>
                    <strong>{{v.titulo}}</strong>  
                  </ion-col>
                </ion-row>                         
              </ion-grid>                        
            </ion-card>
          </ion-list>
        </expandable> 
      </button>    
    </ion-item>
  </ion-list>  

</ion-content>

<ion-footer class="backFooter" text-center>
  <p class="reduzMargimBottom">
    &copy; NES - Núcleo de Engenharia de Software
  </p>
  <p class="reduzMargimTop">
    IFFluminense/PIGG
  </p>
</ion-footer>